@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.navbar{
    display:flex;
    /* background-color: grey; */
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

.navbar .brand img{
    width:40px;
}

.navbar .tools{
    display: flex;
    align-items: center;
    gap:20px;

}
.navbar .tools .navItems ul{
    list-style-type: none;
    display: flex;
    /* gap:20px; */

}
.navbar .tools .navItems ul li{
    padding:30px 30px;
    text-transform: capitalize;
    cursor: pointer;
}
.navbar .tools .navItems ul li:hover{
    color:#13AA52;
    box-shadow: 0 -4px 0  #13AA52 inset;
}

.activeNavItem{
    /* border-bottom: 5px solid #13AA52; */
    box-shadow: 0 -4px 0  #13AA52 inset;
}

.navbar .searchBar{
    /* border: 1px solid #111333; */
    display: flex;
    padding: 2px 5px;
    border-radius: 10px;
    justify-content: center;
    background-color: #EFF3F6;
    /* align-items: ; */
}
.navbar .search {
    padding: 4px 10px;
    border:none ;
    margin-right:5px ;
}


.navbar .searchBar .searchIcon{
   cursor: pointer;
}

.userSide{
    display: flex;
    justify-content: center;
}
.navbar .notifications {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbar .notificationsCount{
    /* background-color: grey; */
    color: red;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 8px;
    right: 10px;
}

.navbar .user{
    /* width: 25px; */
    height: 25px;
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    /* gap:20px, */
}
